Texture/.vs/
Texture/Debug/
LucesGC2/Model/.vs/Model/v17/Browse.VC.opendb
LucesGC2/Model/.vs/Model/v17/Browse.VC.db-wal
LucesGC2/Model/.vs/Model/v17/Browse.VC.db-shm
LucesGC2/Model/.vs/Model/v17/Browse.VC.db
LucesGC2/Model/.vs/Model/v16/Browse.VC.db
LucesGC2/Model/.vs/Model/FileContentIndex/4b123e00-c55b-4de7-a6bd-ed3a04022080.vsidx
LucesGC2/Model/.vs/Model/v17/.suo
LucesGC2/Model/.vs/Model/v16/.suo
LucesGC2/Model/.vs/Model/v17/ipch/AutoPCH/afb5f9f2eb1a8daf/OBJPARSER.ipch
LucesGC2/Model/.vs/Model/v17/ipch/AutoPCH/a194679d944794e/DX11BASE.ipch
LucesGC2/Model/.vs/Model/v17/ipch/AutoPCH/9063ca6db4dfe329/DEMOMODEL.ipch
LucesGC2/Model/.vs/Model/v17/ipch/AutoPCH/601a33675b1c4298/MAIN.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/fdad2a0a168eeacb/DEMOMODEL.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/f656403df2fa4b71/DEMOMODEL.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/f41bee35e4965471/DEMOMODEL.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/eb7ea202aa161347/OBJPARSER.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/e9932f1ad7aa3428/MAIN.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/d29fbcb2a7988e70/MAIN.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/b1d4009c2f2e99fc/DX11BASE.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/8308b32a9d15c2aa/MAIN.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/662bd2cd1901bba9/OBJPARSER.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/63df9b100d4d315f/OBJPARSER.ipch
LucesGC2/Model/.vs/Model/v16/ipch/AutoPCH/308ee7643aed7e19/DEMOMODEL.ipch
